$breakpoints: (
  'small': (max-width: 600px),
  'medium': (max-width: 800px),
  'large': (max-width: 1000px),
  'xlarge': (max-width: 1200px),
);

@mixin breakpoint($point) {
   @if $point == xlarge {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == large {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == medium {
     @media (max-width: 64em) { @content ; }
  }
   @else if $point == small {
     @media (max-width: 50em) { @content ; }
  }
  @else if $point == xsmall {
     @media (max-width: 37.5em)  { @content ; }

  }
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
