$dropDown       : true;

.navbar {
  background-color: $navBgDefault;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  border-bottom: 2px;
  z-index: 1500;
  -webkit-box-shadow: 0px 10px 35px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 35px -4px rgba(0,0,0,0.75);
  .navbar-brand {
    color: $navDefault;
    &:hover, &:focus {
      color: $navHighlight; }
    img {
      max-width: 8em;
    }}
  .navbar-text {
    color: $navDefault;
    a {
      color: $navHighlight;
      &:hover, &:focus {
        color: $navHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $navDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      text-align: center;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $navHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $navBgDefault;
        .dropdown-item {
          color: $navDefault;
          &:hover, &:focus, &.active {
            color: $navHighlight;
            background-color: $navBgHighlight; }}
        .dropdown-divider {
          border-top-color: $navBgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $navHighlight;
        background-color: $navBgHighlight; }}}
  .navbar-toggler {
    border-width: 0px;
    border-color: #fff;
    .navbar-toggler-icon {
      border-color: #fff;
      &:hover, &:focus {
        border-color: #fff;}
    }
      }
  .navbar-collapse,
  .navbar-form {
    border-color: $navDefault; }
  .navbar-link {
    color: $navDefault;
    &:hover {
      color: $navHighlight; }}}
@include respond-to('small') {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $navDefault;
      &:hover, &:focus {
        color: $navHighlight; }}
    .dropdown-item.active {
      color: $navHighlight;
      background-color: $navBgHighlight; }}}
@include respond-to('medium') {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $navDefault;
      &:hover, &:focus {
        color: $navHighlight; }}
    .dropdown-item.active {
      color: $navHighlight;
      background-color: $navBgHighlight; }}}
@include respond-to('large') {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $navDefault;
      &:hover, &:focus {
        color: $navHighlight; }}
    .dropdown-item.active {
      color: $navHighlight;
      background-color: $navBgHighlight; }}}
@include respond-to('xlarge') {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $navDefault;
      &:hover, &:focus {
        color: $navHighlight; }}
    .dropdown-item.active {
      color: $navHighlight;
      background-color: $navBgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $navDefault;
    &:hover, &:focus {
      color: $navHighlight; }}
  .dropdown-item.active {
    color: $navHighlight;
    background-color: $navBgHighlight; }}

    @media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
}
