.carousel-link{
  background-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $lighter-color;
  }
  a {
    color: #ffffff;
      &:hover {
        color: $main-color
      }
  }
}

.callout-btn{
  background-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $lighter-color;
  }
  a {
    color: #ffffff;
      &:hover {
        color: $main-color
      }
  }
}


#return-to-top {
  display: none;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 99;
  font-size: 1.5em;
  border: none;
  outline: none;
  background-color: #5c1b66;
  color: white;
  cursor: pointer;
  padding: 2vh 2vw;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0px 10px 35px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 35px -4px rgba(0,0,0,0.75);
&:hover {
  background-color: #555;
}
}
