$main-color: #fa6604;
$second-color: #558253;
$darker-color: darken($main-color, 20%);
$lighter-color: lighten($main-color, 20%);

$navBgDefault: #585758;
$navBgHighlight: #fa6604;
$navDefault: #ffffff;
$navHighlight: #f7efc4;

$darkGray: #585758;
