.interior-head-section{
.interior-head{
  max-height: 70vh;
  min-height:50vh;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    padding: 10vh 5vw 0vh 5vw;
    color: #ffffff;
    @include breakpoint(xsmall){
      min-height: 30vh;
    }

  h2{
    text-align: center;
    font-size: 4em;
    z-index: 10;
    position: inherit;
    @include breakpoint(medium){
      font-size: 3em
    }
    @include breakpoint(xsmall){
      font-size: 2em;
    }

  }
  p{
    text-align: center;
    font-size: 1.5em;
    z-index: 10;
    position: inherit;

    @include breakpoint(xsmall){
      font-size: 1em;
    }
  }
  img{
    @include aspect-ratio(16, 9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
  }
}
}

  .interior-content-section{
    .breadcrumb-container {

      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: 100%;
      font-size: 0.75em;
      margin: 0;
      .breadcrumb {
        background-color: $darkGray;
        .breadcrumb-item.active {
          color: #999999;
        }
        a{
          color: #ffffff;
          text-decoration: none;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
    .interior-content{
      padding-bottom: 5vh;

      .service-description {
        margin: 0;
        width: 100%;
        background-color: $main-color;
        h3{
          color: #ffffff;
          padding: 0 10vw 5vh 10vw;
        font-size: 1.5em;
        @include breakpoint(small){
          padding: 0 0vw 5vh 0vw;
        }

      }
    }
      .nav-tabs .nav-link {
        border-color: #cccccc;
        color: #000000;
        &:hover {
          background-color: $main-color;
          color: #ffffff;
        }
      }
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: $darkGray;
        color: #ffffff;
        border-color: #ffffff;
      }
      .tab-content{
        padding-top: 5vh;
        .tab-pane {
          margin: auto;
          width: 100%;
          padding: 0 5vw;
          @include breakpoint(medium){
            padding: 0 0;
          }
        }
        h3 {
          font-size: 3em;
        }
        h4{
          font-size: 2em;
        }
      }


    }

  }

  .network-page{
    .interior-content{
    .service-description{
    background-color: $main-color;
    }
  }
}
  .recycle-page{
    .interior-content{
    .service-description{
    background-color: $second-color;
    h3{
    color: #fffb99;
  }
    }
  }
}
  .energy-page{
    .interior-content{
    .service-description{
    background-color: #529Ac3;
    }
  }
}
.lifecycle-page{
  .interior-content{
  .service-description{
  background-color: #5f6ebf;
  }
}
}
