.services-head-section{
.services-head{
  max-height: 80vh;
  min-height:50vh;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    padding: 30vh 5vw 0vh 5vw;
    color: #ffffff;
    @include breakpoint(xsmall){
      min-height: 40vh;
      padding: 20vh 5vw 0vh 5vw;
    }
    @include breakpoint(xlarge){
      min-height: 80vh;
    }


  h2{
    text-align: left;
    font-size: 4em;
    font-weight: 700;
    z-index: 10;
    position: inherit;
    @include breakpoint(medium){
      font-size: 3em
    }
    @include breakpoint(xsmall){
      font-size: 2em;
    }
  }
  p{
    text-align: center;
    font-size: 1.5em;
    z-index: 10;
    position: inherit;

    @include breakpoint(xsmall){
      font-size: 1em;
    }
  }
  img{
    @include aspect-ratio(16, 9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    max-height: 125vh;
    opacity: 0.7;

  }
}
}


.services-content-section{
  .breadcrumb-container {

    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 100%;
    font-size: 0.75em;
    margin: 0;
    .breadcrumb {
      background-color: $darkGray;
      .breadcrumb-item.active {
        color: #999999;
      }
      a{
        color: #ffffff;
        text-decoration: none;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .services-content{
    padding-bottom: 5vh;

    .description {
      margin: 0;
      width: 100%;
      background-color: #ffffff;
      h3{
        color: #ffffff;
        padding: 0 10vw 5vh 10vw;
      font-size: 1.5em;
      @include breakpoint(small){
        padding: 0 0vw 5vh 0vw;
      }
    }
  }

.services {
height: auto;

.services-item {
  height: inherit;
  overflow: hidden;
  padding: 10vh 10vw;
  background-color: #000000;
  margin-bottom: 5vh;
h4{
color: #ffffff;
text-transform: uppercase;
font-size: 2em;
text-align: left;
position: relative;
z-index: 10;
}
p{
z-index: 10;
text-align: left;
color: #ffffff;
position: relative;
}
img{
  @include aspect-ratio(16, 9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 120%;
  opacity: 0.7;

}

}}

}}
